# Fractal - Analytics Vidhya, Crossover Big Data Engineering Training Batch
### Capstone Assessment - Task 3, Shrey Marwaha, 19th June 2022

In [25]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import min, max, avg

In [13]:
spark = SparkSession.builder \
                    .appName("Capstone Task 3") \
                    .config("spark.sql.warehouse.dir", "/user/ana002673/warehouse") \
                    .enableHiveSupport() \
                    .getOrCreate()

In [14]:
spark

In [12]:
#spark.stop()

In [15]:
spark.sql("use shreycapstonedb;")

++
||
++
++

In [16]:
tables = spark.sql("show tables;")
tables.show()

+---------------+--------------------+-----------+
|       database|           tableName|isTemporary|
+---------------+--------------------+-----------+
|shreycapstonedb|       coursedetails|      false|
|shreycapstonedb|coursedetails_sta...|      false|
|shreycapstonedb|coursedetails_sta...|      false|
|shreycapstonedb|studentcoursecomp...|      false|
|shreycapstonedb|                test|      false|
+---------------+--------------------+-----------+

### Task 1 - Creating dataframes and reading data from Hive

In [17]:
course_details = spark.sql("SELECT * FROM COURSEDETAILS;")
course_details.show(5)

+--------+--------------------+----------+----------+----------+
|courseid|               title|competency|complexity|coursetype|
+--------+--------------------+----------+----------+----------+
|   C0001|Certificate in Cl...| Technical|     Basic|     Cloud|
|   C0002|Certificate in Vi...| Technical|     Basic|     Cloud|
|   C0003|Diploma in Inform...|  Security|  Advanced|     Cloud|
|   C0004|BE (Hons) in CSE ...|    Domain|  Advanced|     Cloud|
|   C0005|BTech in Computer...|    Domain|  Advanced|     Cloud|
+--------+--------------------+----------+----------+----------+
only showing top 5 rows

In [20]:
student_status = spark.sql("SELECT * FROM StudentCourseCompletionStatus;")
student_status.show(5)

+----------+--------+---------+--------------+-----+-------------+
|studentsid|courseid| examdate|attendedstatus|marks|       result|
+----------+--------+---------+--------------+-----+-------------+
|     S0001|   C0001|17 Feb 19|      Attended|   70|    Qualified|
|     S0298|   C0008|24 Feb 19|      Attended|   70|    Qualified|
|     S0297|   C0007|23 Feb 19|        Absent|    0|Not Qualified|
|     S0296|   C0030|20 Feb 19|      Attended|   70|    Qualified|
|     S0291|   C0013| 1 Mar 19|      Attended|   85|    Qualified|
+----------+--------+---------+--------------+-----+-------------+
only showing top 5 rows

### Task 2 - Analysis

#### 1. Total number of students per result category

In [23]:
student_status.groupBy('result').count()

+-------------+-----+
|       result|count|
+-------------+-----+
|Not Qualified|  149|
|    Qualified|  151|
+-------------+-----+

#### 2. Total number of students absent

In [24]:
student_status.where(student_status['attendedstatus']=='Absent').count()

149

#### 3. Maximum, Minimum and Average Marks scored by students

In [26]:
student_status.groupBy('studentsid').agg(min('marks').alias('Minimum Marks'), \
                                         max('marks').alias('Maximum Marks'), \
                                         avg('marks').alias('Average Marks')
                                        ).show()

+----------+-------------+-------------+-------------+
|studentsid|Minimum Marks|Maximum Marks|Average Marks|
+----------+-------------+-------------+-------------+
|     S0010|            0|            0|          0.0|
|     S0049|           77|           77|         77.0|
|     S0281|           70|           70|         70.0|
|     S0242|            0|            0|          0.0|
|     S0120|           70|           70|         70.0|
|     S0030|           70|           70|         70.0|
|     S0161|           70|           70|         70.0|
|     S0111|            0|            0|          0.0|
|     S0086|            0|            0|          0.0|
|     S0128|           91|           91|         91.0|
|     S0169|           91|           91|         91.0|
|     S0292|           86|           86|         86.0|
|     S0069|           86|           86|         86.0|
|     S0139|            0|            0|          0.0|
|     S0202|            0|            0|          0.0|
|     S0154|           85|           85|         85.0|
|     S0142|           70|           70|         70.0|
|     S0112|            0|            0|          0.0|
|     S0289|            0|            0|          0.0|
|     S0272|            0|            0|          0.0|
+----------+-------------+-------------+-------------+
only showing top 20 rows

#### 4. Overall Maximum, Minimum and Average Marks

In [27]:
student_status.agg(min('marks').alias('Minimum Marks'), \
                                         max('marks').alias('Maximum Marks'), \
                                         avg('marks').alias('Average Marks')
                                        ).show()

+-------------+-------------+------------------+
|Minimum Marks|Maximum Marks|     Average Marks|
+-------------+-------------+------------------+
|            0|           92|40.013333333333335|
+-------------+-------------+------------------+